body{
	margin:0;
	text-align: center;
	font-family: 'Merriweather',serif;
}

h1{
	
	margin-top: 0;
	font-family: 'Dancing Script', cursive;
}
h2{
	font-family: 'Montserrat',sans-serif;
}
h3{
	font-family: 'Montserrat',sans-serif;
}


.top-container{
	background-color: #EAF6F6;
	position: relative;
	padding-top: 100px;

}

 .middle-container{
 	
 }
 .bottom-container{
 
 }

 .bottom-cloud{
 	position: absolute;
 	left: 300px;
 	/*bottom: 300px;*/
 }

 .top-cloud{
 	position: absolute;
 	right: 300px;
 	top: 50px;
 }

 .profile{
 	height: 400px;
 	width:100%;
 	
 }
 .frontend{
 	height: 200px;
 	width: 400px;
 }
 .backend{
 	height: 200px;
 	width: 400px;
 }